.site-layout .site-layout-background {
    background: #fff !important;
}

.ant-layout {
    min-height: 100vh;
}

.ant-layout-header span.trigger svg {
    width: 25px !important;
    height: 25px !important;
    margin: 10px !important;
}

.logo h2 {
    color: #fff !important;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content-panel {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 16px;
    height: 80vh;
}
